        </div>

        <footer class="ui inverted vertical segment footer">
            <div class="ui container">
                Site crée par Anthony Macabrey
            </div>
        </footer>

    </body>

</html>