<html>

    <head>
        <title>Livre d'or</title>
        <link rel="stylesheet" href="/assets/semantic-ui/semantic.css">
        <link rel="stylesheet" href="/assets/app.css">
    </head>

    <body>

        <div class="ui fixed inverted menu">
            <a href="/" class="header item">Accueil</a>
        </div>

        <div class="ui main container">

            <% if (locals.error) { %>
                <div class="ui negative message">
                    <%= error %>
                </div>
            <% } %>