<% include header %>

    <form class="ui form" action="/" method="post">
        <div class="field">
            <label for="message">Message</label>
            <textarea name="message" id="message"></textarea>
        </div>
        <button class="ui blue labeled submit icon button" type="submit">
            <i class="icon edit"></i>
            Envoyer
        </button>
    </form>

<% include footer %>